body {
    background-color: rgb(159, 49, 49);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}
main a {
    color: rgb(255, 255, 255);
}
main div {
    display: flex;
    padding: 10px;
}
head {
    display: flex;
    padding-left: 20px;
}
ul a {
    text-decoration: none;
}